<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="brand-heading"></h2>
                    <img src="{{ site.baseurl }}/img/gturk.webp" width="400px" height="150px">
                    <p class="intro-text"><br>{{ site.description }}</p>
                    <p style="text-align: end;">-M. Kemal ATATÜRK</p><br>
                    <img src="{{ site.baseurl }}/img/iha.webp" width="400px" height="150px"><br><br>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <img src="{{ site.baseurl }}/icons/double-down.svg" width="30px" height="30px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>