<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="brand-heading"></h2>
                    <img src="{{ site.baseurl }}/img/gturk.webp" width="370px" height="130px">
                    <p class="intro-text;"><br>{{ site.description }}</p>
                    <p style="right: 50%;" class="lightfont">-M. Kemal ATATÜRK</p><br>
                    <img class="rsp" src="{{ site.baseurl }}/img/iha.webp" width="500px" height="200px"><br><br>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <img src="{{ site.baseurl }}/icons/double-down.svg" width="30px" height="30px">
                    </a><br>
                </div>
            </div>
        </div>
    </div>
</header>