<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="brand-heading"></h2>
                    <img src="{{ site.baseurl }}/img/gturk.webp" width="400px" height="150px">
                    <p class="intro-text"><br><br>{{ site.description }}</p>
                    <p style="text-align: right;"><br>-M. Kemal ATATÜRK</p>
                    <img src="{{ site.baseurl }}/img/iha.webp" width="400px" height="175px">
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>