<!-- Team Section -->
<section id="team" class="content-section text-center">
    <div class="team-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>G-TÜRK TAKIMI</h1>
                <h2 style="float: left;">ELEKTRONİK EKİBİ</h2><br><br>
                <a href="{{ site.baseurl }}/img/author.png">
                    <img src="{{ site.baseurl }}/img/author.png" width="150px" height="150px" style="float: left;">
                    <p><strong>Muhammet Koç</strong><br> Elektronik mühendisliği 2. sınıf öğrencisi</p><br><br>
                </a>
                <a href="{{ site.baseurl }}/img/author.png">
                    <img src="{{ site.baseurl }}/img/author.png" width="150px" height="150px" style="float: left;">
                    <p><strong>Muhammet Koç</strong><br> Elektronik mühendisliği 2. sınıf öğrencisi</p><br><br><br>
                </a>
                <h2 style="float: left;">TASARIM EKİBİ</h2><br><br>
                <a href="{{ site.baseurl }}/img/author.png">
                    <img src="{{ site.baseurl }}/img/author.png" width="150px" height="150px" style="float: left;">
                    <p><strong>Muhammet KILINÇ</strong><br> Makina mühendisliği 2. sınıf öğrencisi</p><br><br>
                </a>
                <a href="{{ site.baseurl }}/img/author.png">
                    <img src="{{ site.baseurl }}/img/author.png" width="150px" height="150px" style="float: left;">
                    <p><strong>Mehmet Haluk METİN</strong><br> Makina mühendisliği 2. sınıf öğrencisi</p><br><br><br>
                </a>
                <h2 style="float: left;">YAZILIM EKİBİ</h2><br><br>
                <a href="{{ site.baseurl }}/img/author.png">
                    <img src="{{ site.baseurl }}/img/author.png" width="150px" height="150px" style="float: left;">
                    <p><strong>Berkcan NARMOT</strong><br> Makina mühendisliği 2. sınıf öğrencisi</p><br><br>
                </a>
                <a href="{{ site.baseurl }}/img/author.png">
                    <img src="{{ site.baseurl }}/img/author.png" width="150px" height="150px" style="float: left;">
                    <p><strong>Abdulsamed ASLAN</strong><br> Bilgisayar mühendisliği 2. sınıf öğrencisi</p><br><br><br>
                </a>
            </div>
        </div>
    </div>
</section>