<!-- Team Section -->
<section id="team" class="content-section text-center">
    <div class="team-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>G-TÜRK EkİBİ</h2>
                <a href="{{ site.baseurl }}/img/author.png">
                    <img src="{{ site.baseurl }}/img/author.png" width="150px" height="150px" style="float: left;">
                    <div class="caption">Muhammet Koç</div>
                    <p>Elektronik mühendisi 2. sınıf öğrencisi</p>
                </a>
            </div>
        </div>
    </div>
</section>