<!-- Team Section -->
<section id="team" class="content-section text-center">
    <div class="team-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="{{ site.baseurl }}/img/author.avif" width="0px" height="0px" ;">
                <h1>G-TÜRK TAKIMI</h1>
                <h3 style="text-align: start;">ELEKTRONİK EKİBİ</h3>
                <ul>
                    <li style="text-align: start;">Elektronik devreler</li>
                    <li style="text-align: start;">Aviyonik</li>
                    <li style="text-align: start;">Elektrik Sistemleri</li>
                    <li style="text-align: start;">Yazılım</li>
                </ul>
                <br>
                <a href="https://www.linkedin.com/in/muhammet-koc/">
                    <img src="{{ site.baseurl }}/img/muhammetkoc.webp" width="150px" height="150px"
                        style="float: left;">
                    <p class="team" style="font-size: 20px;"><br>Muhammet KOÇ</p>
                    <p>Elektronik Mühendisliği</p><br><br><br>
                </a><br>

                <h3 style="text-align: start;">MEKANİK EKİBİ</h3>
                <ul>
                    <li style="text-align: start;">Tasarım</li>
                    <li style="text-align: start;">Analiz</li>
                    <li style="text-align: start;">Katı modelleme</li>
                    <li style="text-align: start;">Uçuş mekaniği</li>
                    <li style="text-align: start;">İmalat</li>
                    <li style="text-align: start;">CFD</li>
                </ul>
                <a href="https://www.linkedin.com/in/muhammet-kılınç-3a5b5a221/">
                    <img src="{{ site.baseurl }}/img/muhammet.webp" width="150px" height="150px" style="float: left;">
                    <p class="team"><br>Muhammet KILINÇ</p>
                    <p>Makina Mühendisliği </p><br><br><br>
                </a>
                <a href="https://www.linkedin.com/in/mehmet-haluk-metin-32261b209/">
                    <img src="{{ site.baseurl }}/img/haluk.webp" width="150px" height="150px" style="float: right;">
                    <p class="team"><br>Mehmet Haluk METİN</p>
                    <p> Makina Mühendisliği </p><br><br><br>
                </a><br>
                <h3 style="text-align: start;">YAZILIM EKİBİ</h3>
                <ul>
                    <li style="text-align: start;">Görüntü işleme</li>
                    <li style="text-align: start;">Otopilot</li>
                </ul>
                <a href="https://www.linkedin.com/in/berkcan-n/">
                    <img src="{{ site.baseurl }}/img/berkcan.webp" width="150px" height="150px" style="float: left;">
                    <p class="team" style="font-size: 20px;"><br>Berkcan NARMOT</p>
                    <p><br> Makina Mühendisliği</p><br><br><br>
                </a>
                <a href="https://www.linkedin.com/in/asametaslan-4867b61b9/">
                    <img src="{{ site.baseurl }}/img/samed.webp" width="150px" height="150px" style="float: right;">
                    <p class="team" style="font-size: 20px;"><br>Abdulsamed ASLAN</p>
                    <p><br> Bilgisayar Mühendisliği</p><br><br><br>
                </a>
            </div>
        </div>
    </div>
</section>